*{
    box-sizing: 0px;
    top: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    width: 1360px;
    background-color: hsl(217, 54%, 11%);
}

#tarjetanft{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 620px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}


#imagennft{
    margin: 6% 0 0 6%;
    width:333px;
    height:320px;
    border-radius: 5px;
}

#imagennft:hover{
    cursor: pointer;
}

#texto{
display: flex;
flex-direction: column;
padding: 6% 6% 0 6%;
}

#titulo{
    color: white;
    font-weight: 600;
}

#titulo:hover{
    cursor: pointer;
}

#descripcion{
    padding-top: 5%;
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}


#precioytiempodisponible{
    padding-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#izquierda{
    display: flex;
    gap: 5px;
}

#ethereum{
    padding-top: 2px;
    height: 18px;
}

#precio{
    color: hsl(178, 100%, 50%);
    font-weight: 300;
}

#derecha{
    display: flex;
    gap: 5px;
    padding-right: 20px;
}

#tiempodisponible{
    color: hsl(215, 51%, 70%);
}


#linea{
    width: 333px;
    border-bottom: solid 1px hsl(215, 32%, 27%);
    margin-top: 25px;
}

#piedepagina{
    display: flex;
    margin-top: 6%;
    align-items: center;
    gap: 20px;
}

#perfil{
    color: hsl(215, 51%, 70%);
}

#img_perfil{
    height: 40px;
    border: solid white 1px;
    border-radius: 50%;
}

#nombre{
    color: white;
    font-weight: 300;
}

#nombre:hover{
    cursor: pointer;
}